<footer class="footer">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="footer-brand">
                    <p>WadialSaBess : Planifiez, organisez, <br>célébrez en toute sérénité.</p>
                    <img src="../../../../assets/images/logo1.png" alt="Logo"> 
                </div>
            </div>

            <div class="col-md-3">
                <h4 class="footer-heading">Liens utiles</h4>
                <ul class="footer-links">
                    <li><a href="#">Accueil</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Services</a></li>
                    <li><a href="#">Prestataires</a></li>
                </ul>
            </div>
            <div class="col-md-3">
                <h4 class="footer-heading">Help</h4>
                <ul class="footer-links">
                    <li><a href="#">Support</a></li>
                    <li><a href="#">En savoir plus</a></li>
                    <li><a href="#">Terms & Conditions</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="col-md-2">
                <h4 class="footer-heading">Newsletter</h4>
                <form class="newsletter-form">
                    <input type="email" placeholder="Votre adresse mail" class="newsletter-input">
                    <button type="submit" class="btn btn-newsletter">Inscription</button>
                </form>
            </div>
        </div>
        <div class="footer-bottom">
            <p>© Copyright 2024, All Rights Reserved by WadialSaBess</p>
        </div>
    </div>
</footer>
