<div class="container-fluid">
    <div class="row">
      <!-- Sidebar -->
      <nav class="col-md-2 d-none d-md-block sidebar">
        <div class="sidebar-sticky">
            <img src="../../../../assets/images/logo.png" alt="Logo" class="img-fluid mb-3">
            <ul class="nav flex-column">
                <li class="nav-item">
                    <a class="nav-link active" href="/dashbord-admin">
                        <i class="bi bi-house-fill"></i> <!-- Icône Dashboard -->
                        Dashboard
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/users">
                        <i class="bi bi-person-circle"></i> <!-- Icône Utilisateurs -->
                        Utilisateurs
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/adminevents">
                        <i class="bi bi-calendar-event"></i> <!-- Icône Événements -->
                        Événements
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/carteadmin">
                        <i class="bi bi-card-text"></i> <!-- Icône Carte Invitation -->
                        Carte Invitation
                    </a>
                </li>
            </ul>
        </div>
    </nav>
  
      <!-- Main content -->
      <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div class="banner">
            <h1 class="mt-4">Liste des événements</h1>
            <!-- <div class="input-group mb-3">
                <input type="text" class="form-control" placeholder="Rechercher par mail" aria-label="Rechercher par mail" aria-describedby="button-addon2">
                <button class="btn btn-search" type="button" id="button-addon2">Rechercher</button>
            </div> -->
        </div>
  
        <!-- Table -->
        <table class="table table-bordered table-hover">
          <thead class="table-white">
            <tr>
              <th scope="col">Identifiant</th>
              <th scope="col">Titre</th>
              <th scope="col">Date </th>
              <th scope="col">Lieu</th>
              <th scope="col">Type</th>
              <th scope="col">Budget</th>
              <th scope="col">User id</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let event of events">
              <td>{{ event.id }}</td>
              <td>{{ event.titre }}</td>
              <td>{{ event.event_date }}</td>
              <td>{{ event.lieu }}</td>
              <td>{{ event.type }}</td>
              <td>{{ event.budget }}</td>
              <td>{{ event.user_id }}</td>

            </tr>
          </tbody>
        </table>
  
        <!-- Pagination -->
        <nav aria-label="Page navigation example">
          <ul class="pagination justify-content-center">
            <li class="page-item disabled">
              <a class="page-link" href="#" tabindex="-1">Précédent</a>
            </li>
            <li class="page-item"><a class="page-link" href="#">1</a></li>
            <li class="page-item"><a class="page-link" href="#">2</a></li>
            <li class="page-item"><a class="page-link" href="#">3</a></li>
            <li class="page-item">
              <a class="page-link" href="#">Suivant</a>
            </li>
          </ul>
        </nav>
      </main>
    </div>
  </div>
  