<div class="container mt-5">
  <h1 class="text-center mb-4">Inscription</h1>
  
  <form
    [formGroup]="registerForm"
    (ngSubmit)="onSubmit()"
    enctype="multipart/form-data"
    class="container-fluid p-5"
  >
    <div class="row">
      
      <!-- Section Client -->
      <div class="col-md-6">        
        <div class="mb-3">
          <label for="nom" class="form-label">Nom complet</label>
          <input
            id="nom"
            formControlName="nom"
            type="text"
            class="form-control"
            placeholder="Nom complet"
          />
          <div *ngIf="registerForm.get('nom')?.invalid && registerForm.get('nom')?.touched" class="text-warning">
            Le nom est obligatoire et doit comporter moins de 255 caractères.
          </div>
        </div>

        <div class="mb-3">
          <label for="email" class="form-label">Email</label>
          <input
            id="email"
            formControlName="email"
            type="email"
            class="form-control"
            placeholder="example@gmail.com"
          />
          <div *ngIf="registerForm.get('email')?.invalid && registerForm.get('email')?.touched" class="text-warning">
            Un email valide est requis et doit être unique.
          </div>
        </div>

        <div class="mb-3">
          <label for="adresse" class="form-label">Adresse</label>
          <input
            id="adresse"
            formControlName="adresse"
            type="text"
            class="form-control"
            placeholder="Adresse"
          />
          <div *ngIf="registerForm.get('adresse')?.invalid && registerForm.get('adresse')?.touched" class="text-warning">
            L'adresse est obligatoire et doit contenir moins de 255 caractères.
          </div>
        </div>

        <div class="mb-3">
          <label for="role" class="form-label">Rôle</label>
          <select id="role" formControlName="role" class="form-control">
            <option value="" disabled selected>Choisir un rôle</option>
            <option value="prestataire">Prestataire</option>
            <option value="client">Client</option>
          </select>
          <div *ngIf="registerForm.get('role')?.invalid && registerForm.get('role')?.touched" class="text-warning">
            Le rôle est requis.
          </div>
        </div>

        <div class="mb-3">
          <label for="telephone" class="form-label">Téléphone</label>
          <input
            id="telephone"
            formControlName="telephone"
            type="tel"
            class="form-control"
            placeholder="Téléphone"
          />
          <div *ngIf="registerForm.get('telephone')?.invalid && registerForm.get('telephone')?.touched" class="text-warning">
            Le téléphone est obligatoire (entre 9 et 20 caractères).
          </div>
        </div>
      </div>
      
      <!-- Section Prestataire -->
      <div class="col-md-6">
        
        <div class="mb-3" *ngIf="registerForm.get('role')?.value === 'prestataire'">
          <label for="categorie_prestataire_id" class="form-label">Catégorie Prestataire</label>
          <select id="categorie_prestataire_id" formControlName="categorie_prestataire_id" class="form-control">
            <option value="" disabled selected>Choisir une catégorie</option>
            <option value="1">Traiteur</option>
            <option value="2">Mariage</option>
          </select>
          <div *ngIf="registerForm.get('categorie_prestataire_id')?.invalid && registerForm.get('categorie_prestataire_id')?.touched" class="text-warning">
            La catégorie est requise.
          </div>
        </div>
        
  

        <div class="mb-3">
          <label for="password" class="form-label">Mot de passe</label>
          <input
            type="password"
            id="password"
            formControlName="password"
            class="form-control"
            placeholder="Mot de passe"
          />
          <div *ngIf="registerForm.get('password')?.invalid && registerForm.get('password')?.touched">
            <small *ngIf="registerForm.get('password')?.errors?.['required']" class="text-danger">Le mot de passe est requis.</small>
            <small *ngIf="registerForm.get('password')?.errors?.['minlength']" class="text-danger">Le mot de passe doit comporter au moins 8 caractères.</small>
          </div>
        </div>

        <div class="mb-3">
          <label for="password_confirmation" class="form-label">Confirmation du mot de passe</label>
          <input
            type="password"
            id="password_confirmation"
            formControlName="password_confirmation"
            class="form-control"
            placeholder="Confirmation du mot de passe"
          />
          <div *ngIf="registerForm.errors?.['notSame'] && registerForm.get('password_confirmation')?.touched">
            <small class="text-danger">Les mots de passe ne correspondent pas.</small>
          </div>
        </div>

        <div class="mb-3">
          <label for="status" class="form-label">Statut</label>
          <select id="status" formControlName="status" class="form-control">
            <option value="" disabled selected>Choisir un statut</option>
            <option value="active">Active</option>
            <option value="inactive">Inactive</option>
          </select>
          <div *ngIf="registerForm.get('status')?.invalid && registerForm.get('status')?.touched" class="text-warning">
            Le statut est requis.
          </div>
        </div>
        
        
        <button type="submit" class="btn btn-primary" [disabled]="registerForm.invalid">
          S'inscrire
        </button>
      </div>
      
    </div>
  </form>
</div>
