.container {
    padding: 10rem;
  }
  
  h1 {
    font-size: 2rem;
    margin-bottom: 2rem;
  }
  
  .prestataire-details {
    display: flex;
    flex-wrap: wrap;
  
    .contact-container {
      margin-top: 1rem;
  
      .contact-info {
        display: flex;
        align-items: center;
        margin-bottom: 0.5rem;
  
        i {
          margin-right: 0.5rem;
          color: #ff9700; /* Couleur orange */
        }
  
        span {
          margin-right: 2rem; /* Ajout d'espacement entre les informations */
        }
      }
  
      /* Pour aligner toutes les informations en ligne */
      display: flex;
      justify-content: flex-start;
      gap: 1rem; /* Espace entre les différents éléments (adresse, téléphone, email) */
    }
  }
  
  .testimonials {
    h4 {
      margin-bottom: 1rem;
    }
    .commentaire {
      margin-bottom: 1.5rem;
      background-color: #f9f9f9;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }
  }
  
  .rating {
    display: flex;
    gap: 5px;
  }
  
  .bi-star {
    font-size: 24px;
    cursor: pointer;
    color: #d3d3d3; /* Couleur des étoiles non remplies */
  }
  
  .filled {
    color: #ff9700; /* Couleur des étoiles remplies */
  }
  
  .bi-star:hover, .bi-star.filled:hover {
    color: #ffb400; /* Couleur des étoiles lors du hover */
  }
  .rating {
    color: lightgray; /* Couleur par défaut pour les étoiles vides */
  }
  
  .rating .filled {
    color: gold; /* Couleur pour les étoiles remplies */
  }
  
  
  
  .review-section {
    margin-top: 3rem;
    .btn {
      background-color: #9e9f8d;
      border-color: #9e9f8d;
    }
  }
  