/* Conteneur principal avec sidebar et contenu */
.main-layout {
  display: flex; /* Permet d'afficher la sidebar et le contenu à côté */
  height: 100vh; /* Prend toute la hauteur de l'écran */
}
/* Sidebar */
.sidebar {
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 30px 20px; /* Augmente la marge en haut */
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  z-index: 1000;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-link {
  color: #333;
  font-weight: 500;
  margin-bottom: 15px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-link i {
  margin-right: 8px; /* Espace entre l'icône et le texte */
  font-size: 1.2em;
}

.nav-link:hover {
  background-color: #f2f2f2; /* Couleur de fond au survol */
}

.nav-link.active {
  color: #fff;
  background-color: #b46c20; /* Carré marron pour le lien actif */
  font-weight: bold;
  border-radius: 4px;
}

/* Logo dans la sidebar */
.sidebar img {
  margin-top: 60px;
  max-width: 100%;
  margin-bottom: 30px;
}

/* Adaptation de la mise en page pour le contenu */
@media (min-width: 768px) {
  main {
      margin-left: 250px;
  }
}
/* Contenu principal à droite de la sidebar */
.profile-container {
  flex-grow: 1; /* Prend tout l'espace disponible */
  margin-left: 250px; /* Compense la largeur de la sidebar */
  padding-left: 20px;
  padding-right: 20px;
  background-color: #f8f9fa;
}

/* Bannière de profil */
.profile-banner {
  height: 200px;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  padding-top: 120px;
  display: flex;
  align-items: center;
  background-image: url(../../../../assets/images/headerprofileuser.png);
}

/* Alignement des contenus dans la bannière */
.banner-content {
  width: 80%;
  padding-left: 200px;
  padding-right: 200px;
}

/* Nom de profil */
.profile-name {
  font-size: 1.5rem;
  font-weight: bold;
}

/* Logo de profil */
.profile-logo {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
}

/* Boutons */
.btn-outline-secondary {
  background-color: #8b6f47;
  border-color: transparent;
  color: white;
}

.btn-outline-secondary:hover {
  background-color: #6a532e;
  color: white;
}

.btn-warning {
  background-color: #8b6f47;
  color: white;
  border: none;
}

.btn-warning:hover {
  background-color: #6a532e;
}

/* Table d'informations utilisateur */
.table {
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
}

th {
  font-weight: bold;
  text-transform: uppercase;
}

td {
  text-align: right;
}