<div class="container">
    <h1 class="text-center">Détails prestataire</h1>
  
    <!-- Assurez-vous que prestataire existe avant d'essayer d'y accéder -->
    <div *ngIf="prestataire" class="prestataire-details">
      <div class="images col-md-6">
        <img *ngFor="let user of users" [src]="user.logo || '../../../../assets/images/default.png'" alt="{{ user.nom }} Logo">
      </div>
  
      <div class="prestataire-info col-md-6">
        <h3>{{ prestataire.nom }}</h3>
        <div class="rating">★★★★★</div>
  
        <div class="contact-container">
          <div class="contact-info">
            <i class="bi bi-geo-alt-fill"></i>
            <span>{{ prestataire.adresse }}</span>
          </div>
          <div class="contact-info">
            <i class="bi bi-telephone-fill"></i>
            <span>{{ prestataire.telephone }}</span>
          </div>
          <div class="contact-info">
            <i class="bi bi-envelope-fill"></i>
            <span>{{ prestataire.email }}</span>
          </div>
        </div>
  
        <p>{{ prestataire.description }}</p>
  
        <div class="review-section">
          <h4>Noter le prestataire</h4>
          <div class="stars">★★★★★</div>
          <textarea class="form-control mt-2" rows="3" placeholder="contenu"></textarea>
          <button class="btn mt-2">Publier</button>
        </div>
      </div>
    </div>
  
    <!-- Section des commentaires -->
    <div class="testimonials mt-5">
      <h4>Nos témoignages</h4>
      <div class="row" *ngFor="let commentaire of commentaires">
        <div class="col-md-6">
          <p>{{ commentaire.contenu }}</p>
          <p class="client">{{ commentaire.user.nom }}</p>
        </div>
      </div>
    </div>
  </div>
    