
.custom-margin-top {
    padding-top: 100px; /* Ajuste cette valeur selon tes besoins */
  }
  
.bg-brown {
    background-color: #704214;
  }
  
  h2, h3 {
    color: #333;
  }
  
  p {
    font-size: 1.1rem;
  }
  
  .img-fluid {
    object-fit: cover;
  }
  
  .text-white {
    font-size: 1.2rem;
    font-weight: 500;
  }
  
  .row img {
    margin-bottom: 15px;
  }
  