<!-- <div class="profile-container" *ngIf="user; else loading">
    <div class="header">
        <h2>{{ user.nom }}</h2>
        <img src="https://via.placeholder.com/100" alt="Photo de profil">
    </div>
    <table class="info-table">
        <tr>
            <th>PRENOM ET NOM</th>
            <td>{{ user.nom }}</td>
        </tr>
        <tr>
            <th>EMAIL</th>
            <td>{{ user.email }}</td>
        </tr>
        <tr>
            <th>TELEPHONE</th>
            <td>{{ user.telephone }}</td>
        </tr>
        <tr>
            <th>ADRESSE</th>
            <td>{{ user.adresse }}</td>
        </tr>
    </table>
</div>


<ng-template #loading>
</ng-template> -->

<div *ngIf="user">
    <h2>Profil de {{ user.nom }}</h2>
    <p><strong>Email :</strong> {{ user.email }}</p>
    <p><strong>Téléphone :</strong> {{ user.telephone }}</p>
    <p><strong>Adresse :</strong> {{ user.adresse }}</p>
    <p><strong>Description:</strong> {{user.description}}</p>
    <p><strong></strong></p>
  </div>
  
  <div *ngIf="!user">
    <p>Aucune information utilisateur trouvée.</p>
  </div>
  
