 
 <div class="profile-container">
    <div class="header">
        <h2>Fatima DANSOKO</h2>
        <img src="https://via.placeholder.com/100" alt="Photo de profil">
    </div>
    <table class="info-table">
        <tr>
            <th>PRENOM ET NOM</th>
            <td>ANNA MARONE</td>
        </tr>
        <tr>
            <th>EMAIL</th>
            <td>annamarone72gmail.com</td>
        </tr>
        <tr>
            <th>TELEPHONE</th>
            <td>784615847</td>
        </tr>
        <tr>
            <th>ADRESSE</th>
            <td>Dakar</td>
        </tr>
    </table>
   
</div>

