<div>
    <h2>Demandes pour le Prestataire {{ prestataireId }}</h2>
    
    <table class="table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Description</th>
          <th>Date</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let demande of demandeprestataires">
          <td>{{ demande.id }}</td>
          <td>{{ demande.description }}</td>
          <td>{{ demande.date | date }}</td>
        </tr>
      </tbody>
    </table>
  
    <div *ngIf="demandeprestataires.length === 0">
      <p>Aucune demande trouvée pour ce prestataire.</p>
    </div>
  </div>
  