/* Global styles */
body {
  margin: 20px;
  padding: 20px;
  box-sizing: border-box;
}
.overlay{
  width: 100%; /* Prendre toute la largeur */
  height: 30vh; /* Prendre toute la hauteur de l'écran */
  background-image: url('../../../../assets/images/bac.jpeg');
  background-size: auto; /* Garder la taille originale de l'image */
}

.sectionover p {
  margin-top: 5000px;
  color: #000000;
  font-size: 16px;
  font-family: 'playfair display', sans-serif;
  font-weight: 'regular';
}
/* Section principale avec image de fond */


h3 {
  font-size: 1.8em;
  font-weight: 'regular';
  color: #000000;
  font-family: 'Montez',serif;
  margin-bottom: 10px; /* Réduire l'espacement sous le titre */
}

p {
  font-size: 2em;
  font-family: '',serif;
  line-height: 1.4;
  color: #000000;
  font-family: 'Montez',serif;
  margin-bottom: 20px; /* Réduire l'espacement sous le paragraphe */
}

/* Formulaire de filtrage */
.filter-form {
  display: flex;
  justify-content: center;
  gap: 5px;
  margin-top: 20px; /* Espacement entre la section et le formulaire */
  margin-bottom: 20px; /* Réduction de la marge entre le formulaire et les cartes */
}

.filter-form input[type="text"] {
  width: 250px;
  border: 2px solid #ccc;
  border-radius: 5px;
  font-size: 1em;
}

.filter-form button {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 1em;
  cursor: pointer;
}

.filter-form button:hover {
  background-color: #555;
}

/* Cartes */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 0; /* Supprimer toute marge entre les sections */
}

.card-container {
  flex: 1 1 300px;
  max-width: 300px;
}

.card {
  margin-top: 10px;
  width: 100%;
  height: 450px;
  overflow: hidden;
  position: relative;
}

.card-content {
  position: absolute;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  width: 80%;
}

.card img {
  width: 100%;
  height: 90%;
  object-fit: cover;
  margin-left:5px;
  margin-right:5px;
  margin-top: 10px;

}


/* Styles pour les icônes */
.bi-pencil-square, .bi-send-fill, .bi-download {
  font-size: 1.5rem;
  color: rgb(77, 20, 20);
  cursor: pointer;
}

/* Alignement des icônes */
.icons {
  display: flex;
  justify-content: center;
  align-items: center; /* S'assure que les icônes sont alignées verticalement */
}

.icons i {
  margin-right: 10px; /* Espacement entre les icônes */
}

.icons i:last-child {
  margin-right: 0; /* Supprimer la marge après la dernière icône */
}
.dropdown {
  display: flex; /* Utilisation de Flexbox pour aligner les éléments */
  flex-direction: column; /* Les éléments sont empilés verticalement */
  align-items: flex-end; /* Aligne tout à droite */
  position: relative; /* Nécessaire pour le positionnement */
}

/* Style pour le bouton */
.dropdown-toggle {
  margin-bottom: 5px; /* Ajout d'un petit espacement entre le bouton et le dropdown */
}
.dropdown .btn-drop{
  background-color: #725111; /* Couleur orange pour le bouton */
  color: white; /* Couleur du texte en blanc */
  padding: 10px 20px; /* Espacement et taille du bouton */
  border-radius: 5px; /* Couronne arrondi */
  cursor: pointer; /* Change le curseur pour pointer sur le bouton */

}
/* Styles pour le menu */
.dropdown-menu {
  animation: slideIn 0.3s; /* Animation d'apparition */
  background-color: #725111; /* Couleur de fond rouge */
  color: white; /* Couleur du texte en blanc */
  font-family: 'Playfair Display', serif; /* Police de caractères Playfair Display */
  right: 0; /* Affiche le dropdown à droite */
  left: auto; /* Évite le décalage */
  padding: 10px; /* Espacement autour des éléments */
}

/* Autres styles */
.dropdown-item {
  display: flex;
  align-items: center;
  color: white; /* Couleur du texte en blanc pour les éléments */
}

.dropdown-item:hover {
  background-color: rgb(221, 128, 128); /* Couleur au survol (ajuster si nécessaire) */
}


/* Modal */
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

.modal-content {
  background-color: white;
  padding: 20px;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .card-container {
      flex: 1 1 100%;
  }

  .card {
      height: auto;
  }
}
