<app-header></app-header>
<div class="background-section">
    <div class="overlay">
        <h1>Nos cartes</h1>
        <p>
            Chez Flowvence, nous croyons que chaque événement doit être unique et refléter parfaitement la personnalité et les goûts de son organisateur.
            C'est pourquoi nous offrons une multitude d'options de personnalisation pour que chaque détail, du design des invitations aux choix des prestataires, soit exactement comme tu l'as imaginé. 
            La plateforme te permet de créer des événements sur mesure avec une simplicité qui n'enlève rien à l'élégance, ajoutant ainsi une touche distinctive à chacune de tes célébrations.
        </p>
        <div class="filter-form">
            <input type="text" placeholder="Rechercher...">
            <button type="submit">Filtrer</button>
        </div>
    </div>
</div>
<div class="container d-flex flex-wrap justify-content-center">
    <div class="cartein card-container" *ngFor="let carte of carteinvitations">
      <!-- Conteneur de la carte -->
      <div class="card position-relative">
        <!-- Image de la carte -->
        <img *ngIf="carte.image" [src]="getPhotoUrl(carte.image)" class="card-img-top rounded-top img-fluid" alt="{{ carte.nom }}">
        
        <!-- Contenu de la carte, positionné sur l'image -->
        <div class="card-content position-absolute top-50 start-50 translate-middle text-center text-white">
          <h3 class="d-inline-block">{{ carte.nom }}</h3>
          <!-- Icône de modification à droite -->
          <i class="bi bi-pencil-square position-absolute end-0 bottom-0 me-3 mb-3 text-white" style="cursor:pointer"></i>
          <p>{{ carte.contenu }}</p>
        </div>
      </div>
    </div>
  </div>
  
  









<app-footer></app-footer>