/* Section principale avec image de fond */
.background-section {
    padding-top: 500px;
    background-size: cover;
    background-position: center;
    text-align: center;
    color: #333;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 500px;
}

.overlay {
    background-color: rgba(255, 255, 255, 0.8); /* Ajoute un fond légèrement transparent */
    border-radius: 10px;
    max-width: 800px;
    width: 100%;
}

h1 {
    font-size: 3em;
    font-weight: bold;
    color: #1E3048; /* Couleur du titre */
    margin-bottom: 20px;
}

p {
    font-size: 1.2em;
    line-height: 1.6;
    margin-bottom: 30px;
    color: #333; /* Couleur du texte */
}

/* Formulaire de filtrage */
.filter-form {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.filter-form input[type="text"] {
    padding: 10px;
    width: 300px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
}

.filter-form button {
    background-color: #333;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    cursor: pointer;
}

.filter-form button:hover {
    background-color: #555;
}


.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
  }
  
  .card-container {
    flex: 1 1 300px; /* Toutes les cartes auront la même largeur (300px ici) */
    max-width: 300px;
    position: relative;
    padding-bottom: 50px;
  }
  
  .card {
    width: 100%; /* Prendre toute la largeur disponible */
    height: 400px; /* Hauteur fixe pour toutes les cartes */
    overflow: hidden;
    position: relative;
    
  }
  
  .card-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    width: 80%;
  }
  
  .card img {
    margin-top: 20px;
    margin-left: 5px;
    margin-right: 5px;
    width: 100%;
    height: 90%; /* Limiter la taille des images à 200px de hauteur */
    object-fit: cover; /* Adapter l'image au conteneur tout en gardant le ratio */
  }
  
  .bi-pencil-square {
    font-size: 1.5rem;
    color: rgb(84, 41, 41);
  }
  
  @media (max-width: 768px) {
    .card-container {
      flex: 1 1 100%; /* Sur les petits écrans, les cartes prennent toute la largeur */
    }
  
    .card {
      height: auto; /* Adapter la hauteur pour les petits écrans */
    }
  }
  