
    <div class="container-fluid">
        <div class="row">
            <!-- Sidebar -->
            <nav class="col-md-2 d-none d-md-block sidebar">
                <div class="sidebar-sticky">
                    <h3 class="sidebar-title">Wadial Sa Bëss</h3>
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="#">Dashboard</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Utilisateurs</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Roles</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Carte Invitation</a>
                        </li>
                    </ul>
                </div>
            </nav>

            <!-- Main content -->
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h1 class="mt-4">Gestion des utilisateurs</h1>

                <!-- Search Bar -->
                <div class="input-group mb-3">
                    <input type="text" class="form-control" placeholder="Rechercher par mail" aria-label="Rechercher par mail" aria-describedby="button-addon2">
                    <button class="btn btn-search" type="button" id="button-addon2">Rechercher</button>
                </div>

                <!-- Table -->
            <table class="table table-bordered table-hover">
  <thead class="table-dark">
    <tr>
      <th scope="col">Identifiant</th>
      <th scope="col">Nom Complet</th>
      <th scope="col">Adresse email</th>
      <th scope="col">Rôles</th>
      <th scope="col">Téléphone</th>
      <th scope="col">Statut</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users">
      <td>{{user.id}}</td>
      <td>{{user.nom}}</td>
      <td>{{user.email}}</td>
      <td>{{user.role}}</td>
      <td>{{user.telephone}}</td>
      <td>{{user.statut}}</td>
      <!-- <td><span class="badge role-badge">{{user.roles}}</span></td> -->
      <!-- <td><button class="btn btn-action">Voir</button></td> -->
    </tr>
  </tbody>
</table>

  

        <!-- Pagination -->
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center">
                <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1">Précédent</a>
                </li>
                <li class="page-item"><a class="page-link" href="#">1</a></li>
                <li class="page-item"><a class="page-link" href="#">2</a></li>
                <li class="page-item"><a class="page-link" href="#">3</a></li>
                <li class="page-item">
                    <a class="page-link" href="#">Suivant</a>
                </li>
            </ul>
        </nav>
    