.event-section {
    background-color: #051D30;
  }
  
  .event-section h1 {
    color: #fff;
  }
  
  .event-section .text-warning {
    color: #d0a461;
  }
  
  .event-section p {
    color: #fff;
  }
  
  .event-section .btn-warning {
    background-color: #d0a461;
    border: none;
  }
  
  img {
    border-radius: 15px;
  }
  