<app-header></app-header>
<!-- event-section.component.html -->
<section class="event-section py-5">
    <div class="container">
      <div class="row align-items-center">
        <div class="col-lg-6">
          <h4 class="display-4">Planifions ensemble votre</h4>
          <h3 class=" display-4">Evènement</h3>
          <p class="lead mt-4">
            Avec Flowvence, organisez vos événements personnels de manière simple,
            élégante et sur mesure. Que ce soit pour un anniversaire, un mariage
            ou un baptême, notre plateforme vous guide à chaque étape, du budget
            à la décoration, pour créer des moments inoubliables qui vous
            ressemblent.
          </p>
          <a href="#" class="btn btn-warning mt-4">Plannifier</a>
        </div>
        <div class="col-lg-6 text-center">
          <img
            src="../../../../assets/images/banneri.png"
            alt="Evenement"
            class="img-fluid rounded"
          />
        </div>
      </div>
    </div>
  </section>
