<app-header></app-header>

<!-- Section Évènement -->
<section class="event-section py-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-lg-6">
        <h4 class="display-4">Planifions ensemble votre</h4>
        <h3 class="display-4">Évènement</h3>
        <p class="lead mt-4">
          Avec Flowvence, organisez vos événements personnels de manière simple, élégante et sur mesure. Que ce soit pour un anniversaire, un mariage ou un baptême, notre plateforme vous guide à chaque étape, du budget à la décoration, pour créer des moments inoubliables qui vous ressemblent.
        </p>
        <li><a class="nav-link" routerLink="/Acceuil" routerLinkActive="active">Accueil</a></li>

        <a class="btn btn-warning mt-4 nav-link" [routerLink]="['/planevent']" routerLinkActive="active" >Planifier</a>
      </div>
      <div class="col-lg-6 text-center">
        <img src="../../../../assets/images/banneri.png" alt="Évènement" class="img-fluid rounded"/>
      </div>
    </div>
  </div>
</section>

<!-- Carousel Partenaires -->
<section class="caroussel">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <h6 class="">Nos réalisations</h6>

      <!-- Carousel Item 1 -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <img src="../../../../assets/images/rectangle1.png" alt="Partenaire 1" class="img-fluid partenaire"/>
            </div>
            <div class="col-3">
              <img src="../../../../assets/images/rectangle2.png" alt="Partenaire 2" class="img-fluid partenaire"/>
            </div>
            <div class="col-3">
              <img src="../../../../assets/images/rectangle3.png" alt="Partenaire 3" class="img-fluid partenaire"/>
            </div>
            <div class="col-3">
              <img src="../../../../assets/images/rectangle4.png" alt="Partenaire 4" class="img-fluid partenaire"/>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Carousel Item 2 -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-3">
              <img src="../../../../assets/images/rectangle1.png" alt="Partenaire 5" class="img-fluid partenaire"/>
            </div>
            <div class="col-3">
              <img src="../../../../assets/images/rectangle2.png" alt="Partenaire 6" class="img-fluid partenaire"/>
            </div>
            <div class="col-3">
              <img src="../../../../assets/images/rectangle3.png" alt="Partenaire 7" class="img-fluid partenaire"/>
            </div>
            <div class="col-3">
              <img src="../../../../assets/images/rectangle4.png" alt="Partenaire 8" class="img-fluid partenaire"/>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Ajoute d'autres éléments au besoin -->
    </div>
    
    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</section>


<!-- Section À propos de nous -->
<div class="aboutsection">
  <div class="container">
    <h6 class="">Pourquoi nous choisir?</h6>
    <!--first section-->
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">1</div>
      </div>
      <div class="col-6">
        <div class="col-lg-7">
          <h5>Simplicité et fluidité</h5>
          <img class="img-fluid rounded mb-4 mb-lg-0" src="../../../../assets/images/group15.png" alt="..." />
        </div>
        <p>Wadial sama beuss, nous croyons que chaque événement doit être unique et refléter parfaitement la personnalité et les goûts de son organisateur. </p>
      </div>
    </div>
    <!--path between 1-2-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner top-right"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner left-bottom"></div>
      </div>
    </div>
    <!--second section-->
    <!--second section-->
<!-- Deuxième section -->
<div class="row align-items-center justify-content-end how-it-works d-flex">
  <div class="col-6 text-right">
    <h5>Personnalisation et élégance</h5>
    <div class="col-lg-7">
      <img class="img-fluid rounded mb-4 mb-lg-0" src="../../../../assets/images/group13.png" alt="..." />
    </div>
    <p>Wadial sama beuss, nous croyons que chaque événement doit être unique et refléter parfaitement la personnalité et les goûts de son organisateur.</p>
  </div>
  <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
    <div class="circle font-weight-bold">2</div>
  </div>
</div>

    <!--path between 2-3-->
    <div class="row timeline">
      <div class="col-2">
        <div class="corner right-bottom"></div>
      </div>
      <div class="col-8">
        <hr/>
      </div>
      <div class="col-2">
        <div class="corner top-left"></div>
      </div>
    </div>
    <!--third section-->
    <div class="row align-items-center how-it-works d-flex">
      <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
        <div class="circle font-weight-bold">3</div>
      </div>
      <div class="col-6">
        <h5>Innovation et modernité</h5>
        <div class="col-lg-7">
          <img class="img-fluid rounded mb-4 mb-lg-0" src="../../../../assets/images/group14.png" alt="..." /></div>
        <p>Wadial sama beuss, nous croyons que chaque événement doit être unique et refléter parfaitement la personnalité et les goûts de son organisateur.</p>
      </div>
    </div>
  </div>
</div>





<!-- Section Prestations -->
<div class="container my-5 mt-6 mb-6">
  <div class="text-center">
    <h2 class="fw-bold">Nos prestataires </h2>
    <!-- <p class="mt-6">Découvrez nos prestataires de services, les meilleurs sur le marché</p> -->
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="card border-0">
        <img src="../../../../assets/images/image.png" class="card-img-top rounded" alt="Traiteur">
        <div class="card-body">
          <p class="card-text text-left">Offrez à vos invités une expérience culinaire inoubliable avec nos prestations de traiteur personnalisées, adaptées à chaque occasion.</p>
          <h5 class="card-title text-warning fw-bold text-left">Traiteur</h5>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card border-0">
        <img src="../../../../assets/images/image1.png" class="card-img-top rounded" alt="Couture">
        <div class="card-body">
          <p class="card-text text-left">Sublimez votre événement avec des tenues et accessoires sur mesure grâce à nos services de couture, pour une touche d'élégance incomparable.</p>
          <h5 class="card-title text-warning fw-bold text-left">Couture</h5>

        </div>
      </div>
    </div>

    <div class="col-md-4">
      <div class="card border-0">
        <img src="../../../../assets/images/image2.png" class="card-img-top rounded" alt="Décoration">
        <div class="card-body">
          <p class="card-text text-left">Créez des ambiances uniques avec nos services de décoration sur mesure, pour des événements qui reflètent votre style et vos envies.</p>
          <h5 class="card-title text-warning fw-bold text-left">Décoration</h5>

        </div>
      </div>
    </div>
  </div>
  <!-- <div class="presta">
    <button class="btnpresta">voir plus</button>

  </div> -->
</div>


<!-- Section Budget -->
<section class="budget-section">
  <div class="text-side">
    <h1>Pourquoi budgétiser?</h1>
    <p>1. Fixe un budget clair pour chaque aspect de l'événement : Identifie les principales catégories de dépenses comme le lieu, la restauration, la décoration, et les divertissements, puis alloue un montant précis à chacune..</p>
    <p>2. Prévois une marge pour les imprévus : Lors de la budgétisation, réserve environ 10 % de ton budget total pour les dépenses imprévues ou les ajustements de dernière minute.</p>
    <p>3. Compare les prestataires et négocie : Demande plusieurs devis pour chaque service afin de comparer les prix et la qualité, et n'hésite pas à négocier les tarifs pour obtenir de meilleures offres.</p>
    
  </div>
  <div class="image-side">
    <img src="../../../../assets/images/budget.png" alt="Budgétisation"/>
  </div>
</section>

<!-- Section Contact -->
<section class="contact-section">
  <div class="image-side">
    <img src="../../../../assets/images/contact.png" alt="Contactez-nous"/>
  </div>
  <div class="form-side">
    <h2>Contactez-nous</h2>
    <form>
      <div class="mb-3">
        <input type="text" class="form-control" placeholder="Nom complet"/>
      </div>
      <div class="mb-3">
        <input type="email" class="form-control" placeholder="E-mail"/>
      </div>
      <div class="mb-3">
        <textarea class="form-control" rows="4" placeholder="Message"></textarea>
      </div>
      <button type="submit" class="btn btn-submit">Contactez</button>
    </form>
    <div class="contact-info mt-4">
      <p>Flowvence&#64;gmail.com</p>
      <p>Sénégal Dakar à Keur Massar</p>
    </div>
  </div>
</section>

<app-footer></app-footer>
