<app-header></app-header>

    
<!-- =================================================================-->

<section class="caroussel">
  <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner nosrealisations">
      <!-- Carousel Item 1 -->
      <div class="carousel-item active">
        <div class="container">
          <div class="row">
            <div class="col-3 carousselimage">
              <img src="../../../../assets/images/categorie1.png" alt="Partenaire 1" class="img-fluid partenaire"/>
            </div>
            <div class="col-3">
              <img src="../../../../assets/images/categorie1.png" alt="Partenaire 2" class="img-fluid partenaire"/>
            </div>
            <div class="col-3">
              <img src="../../../../assets/images/categorie1.png" alt="Partenaire 3" class="img-fluid partenaire"/>
            </div>
            <div class="col-3">
              <img src="../../../../assets/images/categorie1.png" alt="Partenaire 4" class="img-fluid partenaire"/>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Carousel Item 2 -->
      <div class="carousel-item">
        <div class="container">
          <div class="row">
            <div class="col-3 carousselimage">
              <img src="../../../../assets/images/categorie1.png" alt="Partenaire 5" class="img-fluid partenaire"/>
            </div>
            <div class="col-3">
              <img src="../../../../assets/images/categorie1.png" alt="Partenaire 6" class="img-fluid partenaire"/>
            </div>
            <div class="col-3">
              <img src="../../../../assets/images/categorie1.png" alt="Partenaire 7" class="img-fluid partenaire"/>
            </div>
            <div class="col-3">
              <img src="../../../../assets/images/categorie1.png" alt="Partenaire 8" class="img-fluid partenaire"/>
            </div>
          </div>
        </div>
      </div>
      
      <!-- Ajoute d'autres éléments au besoin -->
    </div>
    
    <!-- Carousel Controls -->
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleControls" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
    </button>
  </div>
</section>




 <!-- Section Prestations -->
<div class="container my-5 mt-6 mb-6">
  <div class="container mt-5">
    <div *ngIf="message" class="alert alert-light alert-dismissible fade show" role="alert" [@fadeIn]>
      <i class="bi bi-sad" aria-hidden="true"></i> <!-- Utilisation de Bootstrap Icons pour l'icône triste -->
      <strong>Oops ! Pas de prestataire disponible</strong> {{ message }}
      <button type="button" class="close" aria-label="Close" (click)="message = ''">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  
</div>
  <div class="text-center">
    <h2 class="fw-bold mt-6 presta">Nos prestataires </h2>
  </div>
  <!-- Dropdown de catégories -->
  <div class="dropdown"> <!-- Ajout de la classe shadow-sm -->
    <button class="btn btn-drop dropdown-toggle" type="button" id="dropdownCategories" data-bs-toggle="dropdown" aria-expanded="false">
      Sélectionner une catégorie
    </button>
    <ul class="dropdown-menu" aria-labelledby="dropdownCategories">
      <li *ngFor="let categorieprestataire of categoriesprestataires">
        <a class="dropdown-item" (click)="onCategorieSelect(categorieprestataire)">
          {{ categorieprestataire.titre }}
        </a>
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="col-md-4" *ngFor="let prestataire of prestataires"> 
      <!-- Utilisation de [routerLink] pour passer l'ID dynamique -->
      <a [routerLink]="['/detailprestataire', prestataire.id]" class="card border-0 text-decoration-none shadow-sm">
        <img *ngIf="prestataire.user?.logo" [src]="getPhotoUrl(prestataire.user?.logo!)" alt="logo" class="card-img-top rounded-top img-fluid">
        <div class="card-body p-4 text-center">
          <p class="card-text text-muted">
            {{ prestataire.description }}
          </p>
          <h5 class="card-title text-warning fw-bold">{{prestataire.user?.nom}}</h5>
        </div>
      </a>
    </div>
  </div>
  
</div>


<app-footer></app-footer>