#categorieCarousel {
  padding-top: 50px;
  position: relative;

}
.categorie-item {
  text-align: center;
}

.categorie-item img {
  width: 100%;
  height: auto;
  cursor: pointer;
}

.categorie-item h5 {
  font-family: 'Brush Script MT', cursive;
  font-size: 20px;
  text-align: center;
  margin-top: 10px;
}

.carousel {
  margin-top: 150px;
  position: relative;
}


.text-center H2 {
  margin-top: 50px;
}
.card {
  margin-top: 50px;
  border: 13px solid #725111; /* Bordure subtile autour de la carte */
  border-radius: 10px; /* Coins légèrement arrondis */
  transition: transform 0.3s ease-in-out; /* Animation au survol */
}

.card:hover {
  transform: scale(1.02); /* Zoom léger au survol */
}

.card-img-top {
  border-radius: 10px;
  object-fit: cover; /* Ajuste l'image dans son conteneur sans déformation */
  height: 220px; /* Hauteur fixe pour toutes les images */
  width: 500px;
}

.card-body {
  margin-bottom: 50px;
  background-color: #ffffff; /* Fond blanc pour le corps de la carte */
}

.card-text {
  text-align: left;
  font-size: 1rem; /* Taille de police ajustée pour les paragraphes */
  color: #343a40; /* Texte en gris foncé pour un meilleur contraste */
}

.card-title {
  font-size: 1.25rem; /* Taille de police pour les titres */
}

.text-warning {
  color: #725111 !important; /* Utilisation d'un brun/or pour le texte des titres */
  justify-content: left;
  text-align: left;
}

.shadow-sm {
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075); /* Légère ombre pour donner du relief */
}

.dropdown-item {
  display: flex;
  align-items: center;
}

.dot {
  height: 20px;
  width: 15px;
  background-color: green;
  border-radius: 50%;
  display: inline-block;
  margin-right: 10px;
}

.dropdown-item.active {
  background-color: transparent;
  font-weight: bold;
  color: purple; /* Couleur de sélection */
}

.dropdown-item:hover {
  background-color: #f8f9fa; /* Couleur au survol */
}
