<app-header></app-header>
<div class="container mt-5">
  <!-- Titre Catégorie -->
  <h2 class="text-center mb-4">Catégorie</h2>

  <!-- Carrousel de catégories -->
  <div id="categorieCarousel" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active">
        <div class="row text-center">
          <!-- Correction de la boucle pour itérer correctement -->
          <div class="col-md-2 categorie-item" *ngFor="let categorieprestataire of categoriesprestataires">
            <a href="/cuisinier">
              <img src="../../../../assets/images/categorie1.png" alt="">
              <h5>{{categorieprestataire.titre}}</h5> <!-- Accès correct à la propriété titre -->
            </a>
          </div>
        </div>
      </div>
    </div>

    <!-- Contrôles du carrousel -->
    <button class="carousel-control-prev" type="button" data-bs-target="#categorieCarousel" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Précédent</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#categorieCarousel" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Suivant</span>
    </button>

    <!-- Formulaire de filtrage -->
    <div class="filter-form">
      <h5>Filtrer les catégories</h5>
      <input type="text" class="form-control" placeholder="Rechercher">
      <button class="btn btn-dark mt-2">Filtrer</button>
    </div>
  </div>
</div>

<div class="container my-5 mt-6 mb-6">
  <div class="text-center">
    <h2 class="fw-bold">Nos prestataires</h2>
  </div>
  
  <div class="row">
    <div class="col-md-4" *ngFor="let prestataire of prestataires">
      <!-- Utilisation de [routerLink] pour passer l'ID dynamique -->
      <a [routerLink]="['/detailprestataire', prestataire.id]" class="card border-0 text-decoration-none">
        <img *ngIf="prestataire.logo" [src]="getPhotoUrl(prestataire.logo)" [alt]="" class="card-img-top rounded">
        <div class="card-body">
          <p class="card-text text-left">Offrez à vos invités une expérience culinaire inoubliable.</p>
          <h5 class="card-title text-warning fw-bold text-left">{{prestataire.user_id}}</h5>
        </div>
      </a>
    </div>
  </div>
  
</div>
<app-footer></app-footer>