/* Sidebar */
.sidebar {
  background-color: #fff;
  border-right: 1px solid #ddd;
  padding: 30px 20px; /* Augmente la marge en haut */
  min-height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 250px;
  z-index: 1000;
}

.sidebar-sticky {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

.nav-link {
  color: #333;
  font-weight: 500;
  margin-bottom: 15px;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  border-radius: 4px;
  transition: background-color 0.3s;
}

.nav-link i {
  margin-right: 8px; /* Espace entre l'icône et le texte */
  font-size: 1.2em;
}

.nav-link:hover {
  background-color: #f2f2f2; /* Couleur de fond au survol */
}

.nav-link.active {
  color: #fff;
  background-color: #b46c20; /* Carré marron pour le lien actif */
  font-weight: bold;
  border-radius: 4px;
}

/* Logo dans la sidebar */
.sidebar img {
  margin-top: 60px;
  max-width: 100%;
  margin-bottom: 30px;
}

/* Adaptation de la mise en page pour le contenu */
@media (min-width: 768px) {
  main {
      margin-left: 250px;
  }
}


.banner {
  height: 30%;
  width: 100%;
  background-color: #1E2A38;
}
.btn-search {
  background-color: #725111;
  color: white;
}
/* Contenu principal */
.main-layout {
  margin-left: 250px; /* Compense la largeur de la sidebar */
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 30px;
  color: #fff;
}

/* Barre de recherche */
.input-group {
  display: flex;           /* Utiliser flexbox pour aligner les éléments */
  align-items: center;    /* Centrer verticalement les éléments */
}

.form-control {
  flex-grow: 1;           /* Permet à l'input de remplir l'espace disponible */
  margin-right: 10px;     /* Ajouter un espace entre l'input et le bouton */
}



  .formadd {
    margin-left: 500px;
  }
  .margin-left-200 {
    margin-left: 300px;
}

/* Pagination */
.pagination .page-link {
    color: #b46c20;
  }
  
  .pagination .page-link:hover {
    background-color: #9a561a;
    color: white;
  }
  
  .pagination .page-item.active .page-link {
    background-color: #b46c20;
    border-color: #b46c20;
  }