<nav class="navbar navbar-expand-lg navbar-light px-4 px-lg-5 py-3 py-lg-0">
  <a href="" class="navbar-brand p-0">
      <img src="../../../../assets/images/logo.png" alt="Logo"> 
  </a>
  <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
      <span class="fa fa-bars"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarCollapse">
      <div class="navbar-nav ms-auto py-0">
          <a href="#" class="nav-item nav-link" [routerLink]="['/acceuil']" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Accueil</a>
          <a href="#" class="nav-item nav-link" [routerLink]="['/prestataire']" routerLinkActive="active">Prestataire</a>
          <a href="#" class="nav-item nav-link" [routerLink]="['/carteinvitation']" routerLinkActive="active">Carte d'invitation</a>
          <a href="#" class="nav-item nav-link" [routerLink]="['/contact']" routerLinkActive="active">Contact</a>
      </div>
      
      <ng-container *ngIf="isLoggedIn; else loggedOut">
        <div class="user-menu d-flex align-items-center">
            <div class="button profile me-3">
                <a routerLink="/profil-client">
                    <img src="../../../../assets/images/profil.jpg" alt="Profile Icon" width="24" height="24" style="color: #00214A;" />
                </a>
            </div>
            <div class="button logout">
                <a (click)="logout()">
                    <img src="../../../../assets/images/logouticon.png" alt="Logout Icon" width="24" height="24" style="color: #00214A;" />
                </a>
            </div>
        </div>
    </ng-container>
    
    <ng-template #loggedOut>
        <a class="btn btn-primary py-2 px-4 my-3 my-lg-0 flex-shrink-0 nav-link" [routerLink]="['/login']" routerLinkActive="active">Connexion</a>
    </ng-template>
